.text-input {
    border: 1px solid #cacccd;
    height: 50px;       //before adding padding, border and margin
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input; //this gives all above styles to this one
}

.textarea {
    @extend .text-input;
    height: 10rem;
}