.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    //justify-content: space-below;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
    //styles above only apply to larger screens configured in the parameters parentheses
}

.input-group__item{
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

